<h2>Přihlášení administrátora – zadejte heslo</h2>
<br />
<form action="/auth" method="post">
	<input type="password" name="password" />
	<input type="submit" value="Přihlásit" />
</form>
<script type="text/javascript">document.forms[0].password.focus()</script>
