<!DOCTYPE html>

<html>
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="css/common.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="css/custom2.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://fast.fonts.com/jsapi/eae1e4d2-2f77-41fd-a77b-a774ca843d87.js"></script>
		
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
	</head>
	
	<body>
			
		<div id="wrapper">
			
			<div id="container">
				
				<div id="header">
					
					<a href="index.html"><img src="images/logo_lachman.png" width="125" height="13" alt="Logo Lachman"></a>
					
					<div id="menu_interier">
						<a href="#">reference</a> /
						<a href="#">prodejna nábytku</a> /
						<a href="#">profil společnosti</a> /
						<a href="#">kontakty</a>
					</div><!-- #menu_interier -->
					
				</div><!-- #header -->
				
				<div id="content">
					
					<div id="leftcol">
						<span class="title">reference</span>
						<ul>
							<li class="active"><a href="#">všechny</a></li>
							<li><a href="#">banky</a></li>
							<li><a href="#">veřejné budovy</a></li>
							<li><a href="#">kanceláře a obchodní prostory</a></li>
							<li><a href="#">hotely a restaurace</a></li>
							<li><a href="#">rodinné domy a byty</a></li>
						</ul>  
						
						<% if admin? %>
							<br /><br />
							<a href="/reference/new">Přidat referenci</a>
						<% end %>
						
					</div><!-- #leftcol -->
					
					<div id="rightcol">
						
						<% posts.each do |post| %>
							<div class="reference">
								<a href="<%= post.url %>"><img src="<%= post.pictures.first.filename unless post.pictures.first.nil? %>" width="620" height="404" alt="reference image">
								<div class="label">
									<span class="name"><%= linebreaks(post.title) %></span><br/>
									<%= linebreaks(post.location) unless post.location.nil? %>
								</div><!-- .label --></a>
							</div><!-- .reference -->
						<% end %>
						
					</div><!-- #rightcol -->
					
					
				</div><!-- #content -->
				
			</div><!-- #container -->
			
		</div><!-- #wrapper -->
		
	</body>
</html>