<!DOCTYPE html>

<html>
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/css/common.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/css/custom2.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://fast.fonts.com/jsapi/eae1e4d2-2f77-41fd-a77b-a774ca843d87.js"></script>
		
		<% if admin? %>
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
			<script type="text/javascript" src="/rails.js"></script>
		<% end %>
		
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
	</head>
	
	<body>
			
		<div id="wrapper">
			
			<div id="container">
				
				<div id="header">
					
					<a href="/"><img src="/images/logo_lachman.png" width="125" height="13" alt="Logo Lachman"></a>
					
				</div><!-- #header -->
				
				<div id="content">
					
					<%= yield %>
					
				</div><!-- #content -->
				
			</div><!-- #container -->
			
		</div><!-- #wrapper -->
		
	</body>
</html>