<div id="leftcol">
	<span class="title">kontakty</span>
</div><!-- #leftcol -->

<div id="rightcol">
	<p>
		LACHMAN INTERIER DESIGN, s.r.o.<br />
		Plumlovská 44<br />
		Prostějov<br />
		796 01<br />
		Czech Republic<br />
		<br />
		telefon +420 582 347 970<br />
		fax +420 582 338 115<br />
		<a href="mailto:info@lachman-interier.cz">info@lachman-interier.cz</a> 
	</p>
</div><!-- #rightcol -->



